button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  text-align: left;
}

.toggle-button {
  position: fixed;
  display: flex;
  padding-right: 500px;
  top: 25px;
  left: 30px;
  z-index: 1050;
  color: #e1ecff;
}

.sidebar {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 260px;
  padding: 0 16px;
  background: #1d212a;
  border-right: 1px solid #2e303e;
  transition: width 0.4s;
  height: 88.8vh;
  overflow-x: auto;
  transition: transform 0.3s ease;
  transform: translateX(-260px);
  flex-shrink: 0;
}

.content {
  flex-grow: 1;
  transition: margin-left 0.4s ease;
}

.shift-right {
  margin-left: 0px;
}

.shift-left {
  margin-left: -260px; /* Reset margin to shift content back to the left */
}

.sidebar.open {
  transform: translateX(0);
  padding-top: 80px;
  height: 100vh;
  position: sticky;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  /* Set the color of the scrollbar thumb */
  border-radius: 4px;
  /* Set the border radius of the scrollbar thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Set the color of the scrollbar thumb on hover */
}

.sidebar-header {
  display: flex;
  position: fixed;
  height: 72px;
  border-bottom: 1px solid #2e303e;
  color: #586881;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: #1d212a;
}

.sidebar .sidebar-header button {
  width: 54px;
}

.sidebar button {
  position: relative;
  display: flex;
  gap: 16px;
  align-items: center;
  height: 50px;
  width: 100%;
  border-radius: 6px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  padding: 0 16px;
  color: #e1ecff;
  transition: background 0.3s;
}

.sidebar button span:nth-child(2) {
  flex: 1 1 auto;
}

.sidebar button:is(.active, :hover) {
  background: #5b5b5b;
  color: #e1ecff;
}

.sidebar button span {
  transition: 0.3s;
}

.sidebar button.active > span:nth-child(3) {
  rotate: -180deg;
}

.sidebar button:not(.active):hover {
  background: #2e303e;
}

.sub-nav button.active::before {
  background: #e1ecff;
}

.sub-nav {
  overflow: hidden;
  transition: 0.5s;
}

.sub-nav button {
  padding-left: 54px;
}

.sub-nav button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 25px;
  translate: 0 -50%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #e1ecff;
}

.material-symbols-outlined {
  font-size: 22px;
}

.pos {
  position: sticky;
  top: 20px;
  overflow: visible !important;
  width: 100%;
}

.main-content {
  padding-top: 80px;
  padding-left: 5px;
  padding-right: 5px;
}

.itemsName {
  animation-name: slideInFromLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
